<div class="col-xs-4">
	<div class="shadow follower-panel panel panel-default">
		<div class="profile-short-banner">
			<img src="/uploads/<%=User.find_by_id(followers).profile_picture%>" class="avatar-panel">
		</div>

		<div class="follower-name"><span class="name"><%=User.find_by_id(followers).username%></span></div>
	</div>
</div>

<style>
	.follower-name{
		margin-top: 70px;
		margin-left: 10px;
	}
	.name{
		font-weight: bold;
		font-size: 15px;
	}
</style>