<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 user-details">
            <div>
                <img src="/assets/AshishChauhan-f1a9b9ec198cb794080fd2b97cee52dfff87422ef437d4c5cdf753048752b287.jpg" alt="Ashish Chauhan" title="Ashish Chauhan" class="rounded float-left img-circle" style="width: 13%;">
            </div>
            <div class="user-info-block" style="background: transparent;">
                <div class="user-heading" style="margin-left: -30%;">
                    <h3 style="margin-top: -10px; opacity: 0.9"><b>Ashish Chauhan</b></h3>
                    <span class="help-block">NSIT, Delhi</span>
                </div>
                    	<div class="panel panel-primary">
                    		<div class="panel-heading" style="text-align: center;"><h3>ABOUT</h3></div>
                    		<div class="panel-body">
                    			<span style="font-size: 20px;">
                    				<table class="table">
									  <thead>
									    <tr>
									      <th>Certification</th>
									      <th>Year</th>
									      <th>Board/Institute</th>
									      <th>CGPA/%</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <th scope="row">BE(ICE)</th>
									      <td>2019</td>
									      <td>Netaji Subhas Institute of Technology</td>
									      <td>71.64%</td>
									    </tr>
									    <tr>
									      <th scope="row">XII</th>
									      <td>2015</td>
									      <td>Central Board of Secondary Education</td>
									      <td>92.2%</td>
									    </tr>
									    <tr>
									      <th scope="row">X</th>
									      <td>2013</td>
									      <td>Central Board of Secondary Education</td>
									      <td>10</td>
									    </tr>
									  </tbody>
									</table>

	                    			<b> School Topper (2005 – 2015)</b> <br>&nbsp;&nbsp;- <i>Received Perfect Adarshian Award at Annual fest-2015 for excellent performance in studies for 10 consecutive years</i>
	                    			<br><br>

	                    			<b> School Prefect (Sep’14 – Mar’15)</b> <br>&nbsp;&nbsp;- <i>Part of the school students’ council, responsible for managing the various sports and cultural events of the school</i>
	                    			<br><br>

	                    			<b> Github Contributor</b>
	                    			<br>&nbsp;&nbsp;- <i>Contributed solutions of around 200+ coding problems via free repositories (GitHub profile - <a href="https://github.com/ashishc534">https://github.com/ashishc534</a>).</i>
	                    			<br><br>
	                        	</span>
	                        </div>
                    	</div>
                    	<div class="panel panel-primary">
                    		<div class="panel-heading" style="text-align: center;"><h3>STRENGTHS</h3></div>
                    		<div class="panel-body">
                    			<div class="row">
                    				<div class="col-md-4">
                    					<img src="https://www.cbronline.com/wp-content/uploads/2016/07/C.png" alt="C++" title="C++" style="width: 120px;">
                    				</div>
                					<div class="col-md-4">
                						<img src="http://www.christeck.de/wp/wp-content/uploads/christeck.de/ruby-2008.png"  alt="Ruby" title="Ruby" style="margin-left: 12px;">
                					</div>
                					<div class="col-md-4">
                    					<img src="https://pbs.twimg.com/profile_images/691206086955790336/CDMbA57p.png"  alt="Rails" title="Rails">
                    				</div> 
                    			</div>
                    			<div class="row">
                    				<div class="col-md-4">
                    					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png"  alt="HTML" title="HTML">
                    				</div>
                					<div class="col-md-4">
                						<img src="https://www.wildcardcorp.com/blog/plone-mockup-patterns/@@download/image/js-logo-badge-512.png"  alt="JavaScript" title="JavaScript" style="width: 120px;">
                					</div>
                					<div class="col-md-4">
                    					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-F9sZrnx-vk3mWjSV_BbhtYmjSg--o22FcCgyRrH49F390UGD"  alt="BootstrapCss" title="BootstrapCss">
                    				</div>
                    			</div>
                    		</div>
                    	</div>
                        	
                            
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<style type="text/css">
	body {background: #EAEAEA;}
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; text-align: center;}
 
.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
 .user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
 .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
  .navigation li {float: left; margin: 0; padding: 0;}
   .navigation li a {padding: 20px 30px; float: left;}
   .navigation li.active a {background: #428BCA; color: #fff;}
 .user-info-block .user-body {float: left; padding: 5%; width: 90%;}
  .user-body .tab-content > div {float: left; width: 100%;}
  .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
  img{
  	width: 100px;
  	padding:20px;
  	border-radius: 40px;
  }

</style>