<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<center><b>Users Around The Globe</b></center>
			</div>
			<div class="panel-body">
				<%@users.each do |users|%>
					<div class="row">
						<div class="col-md-4" style="margin-top: 5px;">
							<img src="/uploads/<%=users.profile_picture%>" style="width: 50px;height: 50px;border-radius: 50%;">
						</div>
						<div class="col-md-8 whotofollow" style="margin-top: 18px;">
							<a href="/user/<%=users.username%>"><%=users.username%></a>
						</div>
					
					</div>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel panel-heading">
				<center><b>Trending Around The Globe</b></center>
			</div>
				<div class="panel-body">
						<% @feed.each do |tweet| %>
							<div id="tweets">
								<%= render 'post', tweet: tweet %>
							</div>
							<% end %>
							<div class="col-md-12">
	  							<center><img src="/image.jpg" height="25px" width="25px"><br><a href="#top"><p style="opacity: 0.7">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></p></a></center>
		  					</div>
				</div>			
			</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p class="About"> <a href=#>@ 2017 Zitter</a>
					<a href=#>About</a>
					<a href=#>Help</a>
					<a href=#>Terms</a>
					<a href=#>Privacy</a>
					<a href=#>Cookies</a>
					<a href=#>Ads</a>
					<a href=#>Info</a>
					<a href=#>Brand</a>
					<a href=#>Blog</a>
					<a href=#>Status</a>
					<a href=#>Ads</a>
					<a href=#>Jobs</a>
					<a href=#>Advertise</a>
					<a href=#>Businesses</a>
					<a href=#>Media</a>
					<a href=#>Developers</a>
				</p>
			</div>
		</div>
	</div>	
</div>
