<div class="user-avatar">
	<img class="round" src="/uploads/<%=User.find_by_username(@username).profile_picture%>">
</div>
	<div class="row">
	<div class="col-md-3"></div>
	<div class="col-xs-6" style="margin-top: 20px;">
		<% @feed.each do |tweet| %>
			<div id="tweets">
			<%= render 'post', tweet: tweet %>
			</div>
		<% end %>
	
		<div class="panel panel-default form-panel">
	  			<div class="panel-body row">
	  				<div class="col-sm-12">
	  					<center><img src="/image.jpg" height="25px" width="25px"><br><a href="#top"><p style="opacity: 0.7">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></p></a></center>
	  				</div>
	  			</div>		
		</div>
	</div>
	<div class="col-md-3">
		<%=render 'pages/whotofollow' , whotofollow:@whotofollow%>
	</div>
</div>

<style type="text/css">
	.whotofollow{
		margin-top: -10px;
	}
	.wtfrelation{
		right:0px;
		outline: none;
	}
	.wtfimage{
		height: 50px;
		width: 50px;
		border:1px solid #1da1f2;
		margin-top: 10px;
	}
</style>