<body>
	<div class="row">
		<div class="panel panel-primary" style="width: 95%;">
			<div class="panel-heading">
				<center>AVAILABLE THEMES!</center>
			</div>
		</div>
	</div>
	<div class="row theme red" style="margin-top: 80px;">
		<div class="col-md-4 red">
			<a href="/theme_submit/?colour=red" data-method="post"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE5Pnn9tLq8DK-FbQp5lX_oF7PETYiYhW9_zC7cAQ7rXSscnriFQ"></a>
		</div>
		<div class="col-md-4 green">
			<a href="/theme_submit/?colour=rgb(13,84,13)&" data-method="post"><img src="http://www.colorcombos.com/images/colors/0D540D.png"></a>
		</div>

		<div class="col-md-4 cyan">
			<a href="/theme_submit/?colour=rgb(29, 161, 242)" data-method="post"><img src="https://www.beautycolorcode.com/1da1f1-250x250.png"></a>
		</div>
	</div>
</body>
<style type="text/css">
	.theme img{
		width: 80%;
		border:2px solid black;
	}
	.cyan img{
		padding: 3px;
	}
</style>