/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
body{
	background-color: #e6ecf0;
	min-width:1000px;
}
.navbar{
	background-color:white;
}
.brand-pos{
	position: absolute;
	left:50%;
}
.form-panel{
	margin-top:-21px;
}
.form-links{
	text-align:left;
}
.post-title{
	text-align:left;
	margin-left:15px;
}
.post-content{
	text-align:left;
	margin-left:20px;
    word-wrap: break-word;
}
.post-owner{
	color:black;
	font-weight:bold;
}
.post-creation{
	opacity:0.70;
}
.g-links{
	opacity:0.4;
	font-size:120%;
	margin-right:75px;
}
.round-image{
	border-radius:50px;
}
.About a{
		color: black;
		opacity: 0.5;
		font-size: 75%;
		text-decoration: none;
	}
.About a:hover{
	opacity: 0.9;
}
.profile-back{
	width:261px;
	height: 150px;
}
.profile{
	width: 70px;
	height: 70px;
	padding: -5px;
	border: 3px solid white;
	border-radius: 10px;
}
.navbar-default{
	border-bottom:1px solid blue;
}

.profileAvatar-image{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	border:5px solid white;
	position: relative;
	top: -200px;
}

.whotofollow a{
	text-decoration:none;
	font-weight:bold;
}
.navbar li a{
	font-weight:bold;
}
.nav-menu{
	font-size:15px;
	margin-left:3px;
}