/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
body{
	background-color: #e6ecf0;
	min-width:1000px;
}

a:hover	{
	text-decoration:none;
}
.navbar{
	background-color:white;
}
.brand-pos{
	position: absolute;
	left:50%;
}
.form-panel{
	margin-top:-21px;
}
.form-links{
	text-align:left;
}
.post-title{
	text-align:left;
	margin-left:15px;
}
.post-content{
	text-align:left;
	margin-left:20px;
    word-wrap: break-word;
}
.post-owner{
	color:black;
	font-weight:bold;
}
.post-creation{
	opacity:0.70;
}
.g-links{
	opacity:0.4;
	font-size:140%;
	margin-right:100px;
}
.g-links-heart{
	font-size:140%;
	margin-right:75px;
}
.Like{
	opacity: 0.6;
	color:grey;
}
.UnLike{
	opacity:0.8;
	color:red;
}
.round-image{
	border-radius:50px;
}
.About a{
		opacity: 0.5;
		font-size: 75%;
		text-decoration: none;
	}
.About a:hover{
	opacity: 0.9;
}
.profile-back{
	width:261px;
	height: 150px;
}
.profile{
	width: 70px;
	height: 70px;
	padding: -5px;
	border: 3px solid white;
	border-radius: 10px;
}
.navbar-default{
	border-bottom:1px solid blue;
}

.profileAvatar-image{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	border:5px solid white;
	position: relative;
	top: -200px;
}

.whotofollow a{
	text-decoration:none;
	font-weight:bold;
}
.navbar li a{
	font-weight:bold;
}
.nav-menu{
	font-size:15px;
	margin-left:3px;
}
.user-avatar{
	position: absolute;
	top: 170px;
	left: 40px;
}
.round{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border:5px solid white;
}

.follower-panel{
	height: 250px;
	margin-bottom: 20px;
}
.profile-short-banner{
	width: 250px;
	height: 70px;
	background-color: #1da1f2;
}
.shadow{
	box-shadow: 5px 2px 5px lightgrey;
}
.avatar-panel{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: relative;
	top: 40px;
	left: 10px;
	border:4px solid white;
}
.relation{
	position: relative;
	right: -160px;
	top: 10px;
	background: transparent;
	border-radius: 50px;
	outline:none;
}
.avatar-name{
	position: relative;
	top:65px;
	left: 10px;
	font-size: 18px;
}
.follower-panel{
	height: 250px;
	margin-bottom: 20px;
}
.profile-short-banner{
	width: 250px;
	height: 70px;
}
.avatar-panel{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: relative;
	top: 40px;
	left: 10px;
}
.relation{
	position: relative;
	right: -160px;
	top: 10px;
	background: transparent;
	border-radius: 50px;
	border:1px solid #1da1f2;
}
.avatar-name{
	position: relative;
	top:35px;
	left: 10px;
	font-size: 18px;
}
.relation-text{
	font-size: 12px;
	font-weight: bolder;
}
.relation:hover .relation-text{
	color:white;
}
.mapping{
		position: relative;
		right: 100px;
		top: 15px;
		background: transparent;
		border-radius: 50px;
		height: 40px;
		width: 110px;
		outline:none;
}

.mapping-text{
	font-weight: bolder;
}
.mapping:hover .mapping-text{
	color: white;
}
.unmapping{
		position: relative;
		right: 100px;
		top: 15px;
		border-radius: 50px;
		height: 40px;
		width: 110px;
		outline: none;
}
.unmapping-text{
	color: white;
	font-weight: bolder;
}
.unmapping:hover{
	border:2px solid white;
}
.profile-banner{
	height: 200px;
	width: 100%;
	overflow: hidden;
	margin-top: -21px;
	border-bottom:1px solid blue;
}
.profile-banner-bottom{
	width: 100%;
	height: 70px;
	background-color: white;
	margin-top: -70px;
	box-shadow: 2px 2px 1px lightgrey;
	margin-bottom: 40px;
}
.links{
	margin-top: 12px;
	display: flex;
	position: relative;
	left: 28%;
	width: 30%;
	justify-content: space-around;
	font-size: 14px;
	font-weight: bold;
}
.links a{
	text-decoration: none;
	color: grey;
}
.links a div:hover{
	cursor: pointer;
}
.wrapper{
	display: flex;
	justify-content: space-between;
}
#tweets_count{
	margin-top: 5px;
}
.edit{
	margin-top: 15px;
	position: relative;
	right: 70px;
	border-radius: 50px;
	width: 110px;
	height: 40px;
	background-color: #fff;
	outline: none;
}

.edit a{
	text-decoration: none;
}
.edit:hover a span{
	color:white;
}
.user_data{
	font-size: 20px;
	margin-top: 5px;
	margin-left: 10px;
}
.onpage{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:2px;
}